.DS_Store
.idea/
.vscode/

/.ddev/db.sql.gz

/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/libraries/
!/web/libraries/
!/web/libraries/jquery.intl-tel-input/
!/web/libraries/jquery.intl-tel-input/**

/web/sites/*/files/
!/web/sites/default/files/
!/web/sites/default/files/sync/
!/web/sites/default/files/sync/**
/web/sites/simpletest/

/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

/phpunit.xml
/phpunit.xml.dist

/node_modules/
/coverage/

/docs/*.rtf
