.DS_Store
.idea/
.vscode/

/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/libraries/

/web/sites/*/files/
/web/sites/simpletest/

/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

/phpunit.xml
/phpunit.xml.dist

/node_modules/
/coverage/

/docs/*.rtf

